<!doctype html>
<html lang="en" ng-app="solarsenseApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SolarSENSE</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/custom-style.css">
		<link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.css">
	</head>
	<body ng-controller="InstantCtrl">
		<nav class="navbar navbar-expand-lg navbar-light header">
			<div class="logo pull-left"></div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars white-icon"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link white-color" href="#">Library</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="lds-css ng-scope">
				<div style="width:100%;height:100%;" class="lds-ripple">
					<div></div>
					<div></div>
				</div>
				<p style="text-align: center;color: grey;margin: 10px;"><small>Locating sensors...</small></p>
			</div>
		</div>

	<script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="../static/js/popper.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/angular.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-route.js"></script>
	<script type="text/javascript" src="../static/js/angular-animate.js"></script>
	<script type="text/javascript" src="../static/js/solarsense.js"></script>
	</body>
</html>	
