<!doctype html>
<html lang="en" ng-app="solarsenseApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SolarSENSE</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/custom-style.css">
		<link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.css">
		<script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js"></script>
		<script type="text/javascript" src="../static/js/popper.min.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/js/angular.min.js"></script>
		<script type="text/javascript" src="../static/js/angular-route.js"></script>
		<script type="text/javascript" src="../static/js/angular-animate.js"></script>
		<script type="text/javascript" src="../static/js/config.js"></script>
	</head>
	<body ng-controller="ConfigCtrl">
		
		{% extends 'navigation.html'%}

		{% block content %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert" ng-if="didSave()">
			<p><strong>{a saveMessage a}</strong></p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="resetSaveAlert()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="container">
			<div>
				<p style="text-align: left;color: grey;margin: 10px;">Presets</p>
				<hr/>
			</div>
			<form style="margin-bottom: 30px;">
				<div class="form-group">
					<!-- TODO: decide which options to keep, get rid of and add when we revamp config menu -->
					<label for="region">Region</label>
					<select class="form-control" id="region" ng-init="getRegion()"required>
						<option value="" disabled selected>Select A Region</option>
						<option ng-repeat="item in regions" value="{a item.name a}">{a item.name a}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="season">Season</label>
					<select class="form-control" id="season" required>
						<option value="" disabled selected="">Select a Season</option>
						<option ng-repeat="season in seasons" value="{a season a}">{a season a}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="crops">Crop</label>
					<select class="form-control" id="crops" required>
						<option value="" disabled selected>Please Select a Region First...</option>
						<option ng-repeat="crop in regionCrops" value="{a crop a}">{a crop a}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="date">Date</label>
					<input class="form-control" type="date" name="Date" id="selected_date">
				</div>
				<button class="btn btn-info btn-block" ng-click="saveConstraints()">Save Settings</button>
			</form>
		</div>
		{% endblock %}
	</body>
</html>	
