<!doctype html>
<html lang="en" ng-app="solarsenseApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SolarSENSE</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/custom-style.css">
		<link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.css">
	</head>
	<body ng-controller="FieldsCtrl">
		<div class="loadingOverlay" ng-show="showLoader">
			<div class="loader"></div>
		</div>
		<div class="header">
			<div class="container">
				<div class="logo pull-left"><h4 class="vertical" style="margin-left: 44px;color: #FFF;">SolarSENSE</h4></div>
			</div>
			<div class="clearfix"></div>
			<div class="container">
				<ul class="nav nav-tabs nav-justified topButtons" ng-controller="LinkCtrl">
					<li class="nav-item topButton">
						<a class="nav-link active" ng-click="goToFarmStatus()">
							<i class="fas fa-adjust"></i><br>Fields
						</a>
					</li>
					<li class="nav-item topButton">
						<a class="nav-link" ng-click="openSensors()">
							<i class="fas fa-wrench"></i><br>Sensors
						</a>
					</li>
					<li class="nav-item topButton">
						<a class="nav-link" ng-click="goToLearn()">
							<i class="fas fa-chalkboard-teacher"></i><br>Learn
						</a>
					</li>
					<li class="nav-item topButton">
						<a class="nav-link" ng-click="openConfig()">
							<i class="fas fa-wrench"></i><br>Settings
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div ng-repeat="field in fields"  class="card" style="width: 100%; margin-top: 18px;">
			  	<div class="card-header">
			    	<strong>{a field.name a}</strong>
			  	</div>
			  	<div class="card-body">
			  		
			  	</div>
			</div>
		</div>

		<script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js"></script>
		<script type="text/javascript" src="../static/js/popper.min.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/js/angular.min.js"></script>
		<script type="text/javascript" src="../static/js/angular-route.js"></script>
		<script type="text/javascript" src="../static/js/angular-animate.js"></script>
		<script type="text/javascript" src="../static/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
		<script type="text/javascript" src="../static/js/fields.js"></script>
	</body>
</html>	
