<!doctype html>
<html lang="en" ng-app="solarsenseApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SolarSENSE</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/custom-style.css">
		<link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.css">
	</head>
	<body ng-controller="HomeCtrl" ng-init="test();">
		<nav class="navbar navbar-light header">
			<div class="container">
				<div class="logo pull-left"></div>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link white-color" href="#"><h4 class="vertical">SolarSENSE</h4></a>
					</li>
				</ul>
				<ul class="nav nav-pills navbar-left" ng-controller="LinkCtrl">
					<li><button class="btn btn-block-nav" ng-click="startCollection()"><i class="fas fa-adjust"></i><br>Collect</button></li>
					<li><button class="btn btn-block-nav" ng-click="scanSensors()"><i class="fas fa-qrcode"></i><br>Scan</button></li>
					<li><button class="btn btn-block-nav" ng-click="goToLearn()"><i class="fas fa-chalkboard-teacher"></i><br>Learn</button></li>
					<li><button class="btn btn-block-nav" ng-click="openConfig()"><i class="fas fa-wrench"></i><br>Settings</button></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h1 style="text-align: center;color: #69b2e1;"><big><strong>Farm Status</strong><br/>{a cropName a}</big></h1>
			<br/>
			<div class="row">
				<div class="menuButtonContainter">
					<div ng-switch on="'{a temperatureStatus a}'">
		    			<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-green" ng-switch-when="0"><i class="fas fa-check-circle"></i><br>Temperature</button>
		    			<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-yellow" ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i><br>Temperature</button>
		    			<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-red" ng-switch-when="2"><i class="fas fa-exclamation-circle"></i><br>Temperature</button>
	    				<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-default" ng-switch-default><i class="fas fa-question-circle"></i><br>Temperature</button>
	    			</div>
	    		</div>
	    		<div class="menuButtonContainter">
	    			<div ng-switch on="'{a sunlightStatus a}'">
		    			<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-green" ng-switch-when="0"><i class="fas fa-check-circle"></i><br>Sunlight</button>
		    			<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-yellow" ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i><br>Sunlight</button>
		    			<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-red" ng-switch-when="2"><i class="fas fa-exclamation-circle"></i><br>Sunlight</button>
	    				<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-default" ng-switch-default><i class="fas fa-question-circle"></i><br>Sunlight</button>
	    			</div>
	    		</div>
	    		<div class="menuButtonContainter">
	    			<div ng-switch on="'{a waterStatus a}'">
		    			<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-green" ng-switch-when="0"><i class="fas fa-check-circle"></i><br>Water</button>
		    			<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-yellow" ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i><br>Water</button>
		    			<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-red" ng-switch-when="2"><i class="fas fa-exclamation-circle"></i><br>Water</button>
	    				<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-default" ng-switch-default><i class="fas fa-question-circle"></i><br>Water</button>
	    			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="menuButtonContainter">
						<button class="btn btn-info" ng-click="reload()">Refresh</button>
					</div>
				</div>
			</div>
		</div>

	<script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="../static/js/popper.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/angular.min.js"></script>
	<script type="text/javascript" src="../static/js/angular-route.js"></script>
	<script type="text/javascript" src="../static/js/angular-animate.js"></script>
	<script type="text/javascript" src="../static/js/index.js"></script>
	</body>
</html>	
