<!doctype html>
<html lang="en" ng-app="solarsenseApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SolarSENSE</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/custom-style.css">
		<link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.css">
	</head>
	<!--<body ng-controller="HomeCtrl" ng-init="test(); gettingAlgorithm(); getActualValues();">-->
	<body ng-controller="HomeCtrl">
		<nav class="navbar navbar-light header">
			<div class="container">
				<div class="logo pull-left"></div>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link white-color" href="#"><h4 class="vertical">SolarSENSE</h4></a>
					</li>
				</ul>
				<ul class="nav nav-pills navbar-left" ng-controller="LinkCtrl">
					<li><button class="btn btn-block-nav" ng-click="startCollection()"><i class="fas fa-adjust"></i><br>Collect</button></li>
					<li><button class="btn btn-block-nav" ng-click="scanSensors()"><i class="fas fa-qrcode"></i><br>Scan</button></li>
					<li><button class="btn btn-block-nav" ng-click="goToLearn()"><i class="fas fa-chalkboard-teacher"></i><br>Learn</button></li>
					<li><button class="btn btn-block-nav" ng-click="openConfig()"><i class="fas fa-wrench"></i><br>Settings</button></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h1 style="text-align: center;color: #69b2e1;"><big><strong>Farm Status</strong><br/>{a cropName a}</big></h1>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group" style="width: 100%;">
						<label class="btn btn-info toggleButtons" ng-click="changeView('status')" style="background-color: #5cb85c;border-color: #5cb85c;" ng-model="showStatuses" uib-btn-radio="status">
							 <input type="radio" name="showStatuses" id="status" autocomplete="off" checked> Status
						</label>
						<label class="btn btn-secondary toggleButtons" ng-click="changeView('data')" style="background-color: #5bc0de;border-color: #5bc0de;" ng-model="showStatuses" uib-btn-radio="data">
							 <input type="radio" name="showStatuses" id="data" autocomplete="off"> Data
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" ng-show="showStatuses==='status'">
					<div class="row">
						<div class="menuButtonContainter">
							<div ng-switch="temperatureStatus">
				    			<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-green" ng-switch-when="0"><i class="fas fa-check-circle"></i><br>Temperature<br/>{a temperature a} {a temperatureUnits a}</button>
				    			<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-yellow" ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i><br>Temperature<br/>{a temperature a} {a temperatureUnits a}</button>
				    			<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-red" ng-switch-when="2"><i class="fas fa-exclamation-circle"></i><br>Temperature<br/>{a temperature a} {a temperatureUnits a}</button>
			    				<button ng-click="buttonStatus(temperatureStatus, 'learn')" class="btn btn-block-default" ng-switch-default><i class="fas fa-question-circle"></i><br>Temperature<br/>{a temperature a} {a temperatureUnits a}</button>
			    			</div>
			    		</div>
			    		<div class="menuButtonContainter">
			    			<div ng-switch on="sunlightStatus">
				    			<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-green" ng-switch-when="0"><i class="fas fa-check-circle"></i><br>Sunlight<br/>{a sunlightTime a} {a sunlightTimeUnits a}</button>
				    			<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-yellow" ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i><br>Sunlight<br/>{a sunlightTime a} {a sunlightTimeUnits a}</button>
				    			<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-red" ng-switch-when="2"><i class="fas fa-exclamation-circle"></i><br>Sunlight<br/>{a sunlightTime a} {a sunlightTimeUnits a}</button>
			    				<button ng-click="buttonStatus(sunlightStatus, 'learn')" class="btn btn-block-default" ng-switch-default><i class="fas fa-question-circle"></i><br>Sunlight<br/>{a sunlightTime a} {a sunlightTimeUnits a}</button>
			    			</div>
			    		</div>
			    		<div class="menuButtonContainter">
			    			<div ng-switch on="waterStatus">
				    			<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-green" ng-switch-when="0"><i class="fas fa-check-circle"></i><br>Water<br/>{a waterAmount a} {a waterAmountUnits a}</button>
				    			<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-yellow" ng-switch-when="1"><i class="fas fa-exclamation-triangle"></i><br>Water<br/>{a waterAmount a} {a waterAmountUnits a}</button>
				    			<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-red" ng-switch-when="2"><i class="fas fa-exclamation-circle"></i><br>Water<br/>{a waterAmount a} {a waterAmountUnits a}</button>
			    				<button ng-click="buttonStatus(waterStatus, 'learn')" class="btn btn-block-default" ng-switch-default><i class="fas fa-question-circle"></i><br>Water<br/>{a waterAmount a} {a waterAmountUnits a}</button>
			    			</div>
						</div>
					</div>
				</div>
				<div class="col-md-12" ng-show="showStatuses==='data'">
					Here goes the data in numbers
				</div>
			</div>
			<div class="clearfix"></div>
			<center><strong>Plant Growth Phase</strong></center>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group" style="width: 100%;">
						<label class="btn btn-info" style="background-color: #ffd871;border-color: #ffd871; width: 25%;" ng-model="growthStage" uib-btn-radio="germination">
							<input ng-click="changeStage('germination')" type="radio" name="growthStage" id="germination" autocomplete="off" checked> Germination
						</label>
						<label class="btn btn-secondary"  style="background-color: #5bc0de;border-color: #5bc0de; width: 50%;" ng-model="growthStage" uib-btn-radio="midSeason">
							 <input ng-click="changeStage('midSeason')" type="radio" name="growthStage" id="midSeason" autocomplete="off"> Mid-Season
						</label>
						<label class="btn btn-secondary" style="background-color: #5cb85c;border-color: #5cb85c; width: 25%;" ng-model="growthStage" uib-btn-radio="harvest">
							 <input ng-click="changeStage('harvest')" type="radio" name="growthStage" id="harvest" autocomplete="off"> Harvest
						</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
						<button class="btn btn-info" ng-click="reload()">Refresh</button>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js"></script>
		<script type="text/javascript" src="../static/js/popper.min.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/js/angular.min.js"></script>
		<script type="text/javascript" src="../static/js/angular-route.js"></script>
		<script type="text/javascript" src="../static/js/angular-animate.js"></script>
		<script type="text/javascript" src="../static/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
		<script type="text/javascript" src="../static/js/solarsense.js"></script>
	</body>
</html>	
