<!doctype html>
<html lang="en" ng-app="solarsenseApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SolarSENSE</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom-style.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fontawesome/css/all.css')}}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/angular.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/angular-route.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/angular-animate.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/instant.js')}}"></script>		
	</head>
	<body ng-controller="InstantCtrl">
		<nav class="navbar navbar-light header">
			<div class="container">
				<div class="logo pull-left"></div>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link white-color" href="/"><h4 class="vertical">SolarSENSE</h4></a>
					</li>
				</ul>
				<ul class="nav nav-pills navbar-left" ng-controller="LinkCtrl">
					<li><button class="btn btn-block-nav-select" ng-click="startCollection()"><i class="fas fa-adjust"></i><br>Collect</button></li>
					<li><button class="btn btn-block-nav" ng-click="scanSensors()"><i class="fas fa-qrcode"></i><br>Scan</button></li>
					<li><button class="btn btn-block-nav" ng-click="goToLearn()"><i class="fas fa-chalkboard-teacher"></i><br>Learn</button></li>
					<li><button class="btn btn-block-nav" ng-click="openConfig()"><i class="fas fa-wrench"></i><br>Settings</button></li>
				</ul>
			</div>
		</nav>
		<div class="container" ng-show="showProgress()">
			<div class="lds-css ng-scope">
				<div style="width:100%;height:100%;" class="lds-ripple">
					<div></div>
					<div></div>
				</div>
				<p style="text-align: center;color: grey;margin: 10px;"><small>Collecting data...</small></p>
			</div>
		</div>

		<div class="data" ng-show="showData()" data-ng-init="dataRequest()">
			<h1>Angular Data Test</h1>
			<ul ng-repeat="soilObj in soilData">

				<li ng-repeat="(key,val) in soilObj">{a key a} : {a val a}</li>
				
			</ul>
		</div>
		<div ng-controller="LinkCtrl">
			<button class="btn btn-block-back" ng-click="goToFarmStatus()"><i class="fas fa-arrow-circle-left"></i><br>Back</button>
		</div>

	</body>
</html>
