<!doctype html>
<html lang="en" ng-app="solarsenseApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SolarSENSE</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom-style.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fontawesome/css/all.css')}}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/angular.min.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/angular-route.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/angular-animate.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/solarsense.js')}}"></script>		
	</head>
	<body ng-controller="InstantCtrl">
		<div class="header">
			<div class="container">
				<div class="logo pull-left"><h4 class="vertical" style="margin-left: 44px;color: #FFF;">SolarSENSE</h4></div>
			</div>
			<div class="clearfix"></div>
			<div class="container">
				<ul class="nav nav-tabs nav-justified topButtons" ng-controller="LinkCtrl">
					<li class="nav-item topButton">
						<a class="nav-link active" ng-click="startCollection()">
							<i class="fas fa-adjust"></i><br>Collect
						</a>
					</li>
					<li class="nav-item topButton">
						<a class="nav-link" ng-click="scanSensors()">
							<i class="fas fa-qrcode"></i><br>Scan
						</a>
					</li>
					<li class="nav-item topButton">
						<a class="nav-link" ng-click="goToLearn()">
							<i class="fas fa-chalkboard-teacher"></i><br>Learn
						</a>
					</li>
					<li class="nav-item topButton">
						<a class="nav-link" ng-click="openConfig()">
							<i class="fas fa-wrench"></i><br>Settings
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container" ng-show="showProgress()">
			<div class="lds-css ng-scope">
				<div style="width:100%;height:100%;" class="lds-ripple">
					<div></div>
					<div></div>
				</div>
				<p style="text-align: center;color: grey;margin: 10px;"><small>Collecting data...</small></p>
			</div>
		</div>

		<div class="data" ng-show="showData()" data-ng-init="dataRequest()">
			<h1>Angular Data Test</h1>
			<ul ng-repeat="soilObj in soilData">

				<li ng-repeat="(key,val) in soilObj">{a key a} : {a val a}</li>
				
			</ul>
		</div>
		<div ng-controller="LinkCtrl">
			<button class="btn btn-block-back" ng-click="goToFarmStatus()"><i class="fas fa-arrow-circle-left"></i><br>Back</button>
		</div>

	</body>
</html>
